{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="container">
        <div class="welcome-card card"> 
            <h1>Bem-vindo à Biblioteca 2M</h1>
            <p>Por favor, escolha uma das opções para continuar:</p>

            <div class="action-links">
                <a href="{{ url_for('auth_bp.login') }}" class="btn">Fazer Login</a>
                <a href="{{ url_for('auth_bp.register') }}" class="btn secondary">Cadastrar Usuário</a>
            </div>
        </div>
    </div>
{% endblock %}