{% extends "base.html" %}
{% block title %}Gêneros{% endblock %}
{% block content %}
<div class="container">
    <h2>Lista de Gêneros</h2>
    <a href="{{ url_for('genero_bp.add_genero') }}" class="btn">+ Adicionar Gênero</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for genero in generos %}
            <tr>
                <td>{{ genero.id_genero }}</td>
                <td>{{ genero.nome_genero }}</td>
                <td>
                    <a href="{{ url_for('genero_bp.edit_genero', id_genero=genero.id_genero) }}" class="view-btn">Editar</a>
                    <a href="{{ url_for('genero_bp.delete_genero', id_genero=genero.id_genero) }}" onclick="return confirm('Tem certeza que deseja excluir este gênero?')" class="view-btn">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
