{% extends "base.html" %}
{% block title %}Empréstimos{% endblock %}
{% block content %}
<div class="container">
    <h2>Lista de Empréstimos</h2>
    <a href="{{ url_for('emprestimo_bp.add_emprestimo') }}" class="btn">+ Novo Empréstimo</a>

    <table>
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Livro</th>
                <th>Data Empréstimo</th>
                <th>Data Prevista</th>
                <th>Data Devolução</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for e in emprestimos %}
            <tr>
                <td>{{ e.nome_usuario }}</td>
                <td>{{ e.titulo_livro }}</td>
                <td>{{ e.data_emprestimo }}</td>
                <td>{{ e.data_devolucao_prevista }}</td>
                <td>{{ e.data_devolucao_real or '-' }}</td>
                <td>{{ e.status_emprestimo }}</td>
                <td>
                    <a href="{{ url_for('emprestimo_bp.edit_emprestimo', id=e.id_emprestimo) }}" class="view-btn">Editar</a>
                    <a href="{{ url_for('emprestimo_bp.delete_emprestimo', id=e.id_emprestimo) }}" onclick="return confirm('Tem certeza que deseja excluir este empréstimo?')" class="view-btn">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
